.btn-green {
  background: greenyellow;
  font-size: 15px;
  font-weight: bolder;
}

.btn-red {
  background: darkred;
  font-size: 15px;
  font-weight: bolder;
  color: aliceblue;
}

.div-color {
  background-color: gainsboro;
}
 .list {
  padding: "0 4em 0 4em"
 }